.detail {
  overflow: hidden;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 4rem;
  padding: 2rem 3rem;
}
.flag_img {
  width: 100%;
  height: 300px;
  /* object-fit: cover; */
}
.detail_info {
  padding-top: 2rem;
}
.detail_info h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.detail_info_inner {
  width: 100%;
  display: flex;
  gap: 6rem;
}
.detail_info_inner p {
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
}
.detail_info_inner span {
  font-weight: 600;
  font-size: 0.7rem;
}
