.error_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-blue);
  width: 100%;
  height: 100vh;
  color: var(--white);
}
.error_page h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.error_page p {
  font-size: 0.9rem;
  margin-bottom: 0.6rem;
}
.error_page p:nth-child(3) {
  font-style: italic;
  font-size: 0.8rem;
  margin-bottom: 0.6rem;
}
.error_page a {
  background-color: var(--light-gray);
  color: var(--Verydark-blue);
  padding: 0.5rem 0.9rem;
  text-decoration: none;
  border-radius: 7px;
  margin-top: 1.5rem;
  font-weight: 600;
}
.error_page a:hover {
  padding: 0.6rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
